@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$prncipal:  'Roboto', sans-serif;
$secundaria: 'Open Sans', sans-serif;

$colorPrincipal: #0018ec;
$colorSec: red;


$textSm: 0.8em;
$textMd: 1.1em;
$textLg: 1.5em;
$textXxl: 3em;

$textRegular: 400;
$textLiviano: 300;
$textoPesado: 700;

